<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="product" class="Ex1.Product" scope="prototype"/>
    <bean id="product1" class="Ex1.Product" scope="prototype">
        <property name="name" value="Xiaomi"/>
    </bean>
    <bean id="product2" class="Ex1.Product" scope="prototype">
        <constructor-arg ref="product1"/>
    </bean>
    <bean id="product3" class="Ex1.Product" scope="singleton">
        <property name="name" value="Samsung"/>
    </bean>
</beans>